<div id="user-list-tpl">
<a href="#/new">New user</a>
	<table>
		<thead>
			<tr>
				<th>firstname</th>
				<th>lastname</th>
				<th>age</th>
			</tr>
	</thead>
	<tbody>
	{{#each users}}
		<tr>
			<td>
				{{firstname}}
			</td>
			<td>
				{{lastname}}
			</td>
			<td>
				{{age}}
			</td>
			<td>
				<a href="#/edit/{{this}}">edit</a>
			</td>
			<td>
				<a class="delete" href="" data-id="{{@id}}">delete</a>
			</td>
		</tr>
	{{/each}}
	</tbody>
	</table>
	</div>